*
/* Stars */

.stars{
    display: flex;
    position: relative;
    width: 80px;    
   margin-left: 5px;
   transform: rotateY(180deg);
  
    }

.stars input{
    display: none; 
   
    }
    
.stars label{
    display: block;
    color: grey;
    cursor: pointer;
    width: 20px;
  
    
    }
    
.stars label:before{
        content: '★';
        font-family: "FontAwesome";
        display: block;
        position: relative;
        color: grey;
        }
.stars label:after{
    content: '★';
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    color: blue;
    top: 0 ;
    opacity: 0;
    transition: .5s;
}
.stars label:hover:after,
.stars label:checked ~ label:after,
.stars input:checked ~ label:after
{
    opacity: 1;
}

    

   